html,body,div,span,object,iframe.films,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
body {
	background-color:#ecf0f1;
	color: #222222;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}
a.menu {
	padding:5px;
	font-size: 12px;
	opacity: 1;
}
p.large {
	font: 50px;
}d
#servantMinisterForm{
	display: none;
	padding-top: 80px;
	text-align: center;
}
#requestForm{
	display: none;
	padding-top: 80px;
	text-align: center;
}
#menuLogo {
	width: auto;
	height:50px;
}
#menu { 
	color: #222222;
	width: 100%;
	height: 70px;
	text-align: center;
	background-color:white;
	position: fixed;
	cursor: pointer;
}
#menuWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
#menuText {
	color: #34495e;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
#menuLogo {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}
#footerLogo {
	width:100px;
	margin-top:75px;
}


